/* **********************************************
Basic mechanics
Hide all paragraphs by default
Show them when they receive the class 'on'
Hide them when they receive the class 'off'
Feel free to adjust the defaults to your needs.
********************************************** */

#closed-captions {
	position: relative;
	align-content: center;
	/* text-align: center; */
	/* /* width: 100%; */
	height: auto;

}

#closed-captions p {
	opacity: 0;
	transition: .05s;
	/* width: -webkit-fill-available; */
	position: absolute;
	/* padding: 5px; */
	text-align: center;
	background-color: white;
	border: 25px solid white;
	width: 765px;
	text-align: center;
	margin-top:-100px;
	margin-left: 305px;
}


/* #closed-captions p {
	opacity: 0;
	transition: .05s;
	width: -webkit-fill-available;
	position: absolute;
	color: white;
	font-size: 1.3em;
	color: black;
	padding: 0.5em;
	text-align: center;
	margin: 15px 22% 0px;
} */


#closed-captions .on {
	opacity: 1;
}
#closed-captions .off {
	transition: .1s;
	opacity: 0;
}
.voice1 {
	/* font-style: italic; */
	/* dingen aanpassen */
	color:#006600;
}
.voice2 {
	/* font-weight: bold; */
	color:#3640ce;
}

/* **********************************************
The first paragraph, with extended timing for 
	all siblings. Basically what it does is that
	it shows the text after a delay, which 
	corresponds with the time that the word is
	spoken.
You probably want to change the styling.
********************************************** */
.p0 span {
	opacity: 0;
	font-family: brenner;
	font-size: 18px;
	border:none;
	/* margin:0px; */
	/* background-color: blueviolet; */
	
}
.p0.on span:first-of-type {
	/* officer */
	/* text-transform: uppercase; */
	opacity: 1;
	transition: 0s 0s; 
	font-weight: 400;
	font-family: "brenner mono";
}
.p0.on span:nth-of-type(2) {
	/* K */
	opacity: 1;
	transition: 0s 0s;
	margin-right: -.25em;
	font-weight: 500;
	font-family: "brenner mono";
}
.p0.on span:nth-of-type(3) {
	/* D */
	opacity: 1;
	transition: 0s .4s;
	margin-right: -.25em;
	font-weight: 500;
	font-family: "brenner mono";
}
.p0.on span:nth-of-type(4) {
	/* 6 */
	opacity: 1;
	transition: 0s .5s;
	margin-right: -.25em;
	font-weight: 500;
	font-family: "brenner mono";
}
.p0.on span:nth-of-type(5) {
	/* 3 */
	opacity: 1;
	transition: 0s 6s;
	margin-right: -.25em;
	font-family: "brenner mono";
}
.p0.on span:nth-of-type(6) {
	/* 7 */
	opacity: 1;
	transition: 0s 1.1s;
	margin-right: -.25em;
	font-family: "brenner display";
}
.p0.on span:nth-of-type(7) {
	opacity: 1;
	transition: 0s 1.4s;
	margin-right: -.25em;
	font-family: "brenner display";
}
.p0.on span:nth-of-type(8) {
	opacity: 1;
	transition: 0s 1.7s;
	font-family: "brenner display";
}
.p0.on span:nth-of-type(9) {
	opacity: 1;
	transition: 0s 2s;
	font-style: italic; 
	margin-right: -.25em;
	/* color:black; */
	font-family: "brenner mono";
}
.p0.on span:nth-of-type(10) {
	opacity: 1;
	transition: 0s 3s;
	margin-right: -.25em;
	font-style: italic; 
	/* color:black; */
	font-family: "brenner mono";
}
.p0.on span:nth-of-type(11) {
	opacity: 1;
	transition: 0s 3.2s;
	margin-right: -.25em;
	font-style: italic; 
	/* color:black; */
	font-family: "brenner mono"
}
.p0.on span:nth-of-type(12) {
	/* ready */
	opacity: 1;
	/* color:black; */
	transition: 0s 3.7s;
	font-family: "brenner sans bold";
}
.p1.on {
	/* background: hotpink; */
	/* color: red; */
	opacity: 0;
	font-size: 14px;
	font-family: "brenner sans bold";
}
.p2.on {
	opacity: 0;
	font-family: "brenner mono";
	font-size: 16px;
	font-weight: 200px;
	border:none;
}

.sound3 .p1.on{
	font-family: "brenner mono";
	font-size: 0px;
	color:#980000;
	background: #980000;
	/* font-weight: 200; */
	border: 25px solid #980000;
}

.p3.on{
	font-family: "brenner mono";
	font-size: 16px;
	font-weight: 600px;
}
.p4.on{
	font-family: "brenner mono";
	font-size: 16px;
	font-weight: 200;
	position: absolute;
	font-style: italic;
	/* padding: 5px; */
	text-align: center;
	color: #3640ce;;
	/* background-color: rgb(233, 236, 39); */
	/* border: 3px solid #121756; */
	width: 765px;
	text-align: center;
	margin-top:-100px;
	margin-left: 305px;
}
.p5.on{
	font-family: "brenner mono";
	font-style: italic;
	font-size: 16px;
	font-weight: 200;
	position: absolute;
	/* padding: 5px; */
	text-align: center;
	color: #3640ce;;
	/* background-color: rgb(233, 236, 39); */
	/* border: 3px solid #121756; */
	width: 765px;
	text-align: center;
	margin-top:-100px;
	margin-left: 305px;
}
.p6.on {
	font-size: 12px;
	font-family: "brenner sans bold";
}
.p7.on {
	font-size: 16px;
	/* font-style: italic; */
	font-family: "brenner script";
	font-weight: 400px;
}

.p8.on {
	/* cells eerste */
	font-family: "brenner mono regular ";
	/* font-size: 200px; */
	font-size: 22px;
	font-weight: 400px;
}
.p9.on {
	/* cells tweede */
	font-family: "brenner mono bold";
	font-size: 14px;
}

.p10.on {
	/* cells tweede */
	font-family: "brenner mono";
	font-size: 16px;
	font-weight: 400px;
}
.p11.on {
	/* cells eerste */
	font-family: "brenner mono";
	font-size: 22px;
}

.p12.on {
	/* cells tweede */
	font-family: "brenner mono bold";
	font-size: 14px;
}

.p13.on {
	/* vraag */
	font-family: "brenner mono";
	font-size: 16px;
	font-weight: 400px;
}

.p14.on {
	/* cells eerste */
	font-family: "brenner mono";
	font-size: 22px;
}

.p15.on {
	/* cells tweede */
	font-family: "brenner mono bold";
	font-size: 14px;
}

.p16.on {
	/* vraag */
	font-family: "brenner mono";
	font-size: 16px;
	font-weight: 400px;
}

.p17.on {
	/* cells eerste */
	font-family: "brenner mono";
	font-size: 22px;
}

.p18.on {
	/* cells tweede */
	font-family: "brenner mono bold";
	font-size: 14px;
}

.p19.on {
	/* vraag */
	font-family: "brenner mono";
	font-size: 22px;
	font-weight: 400px;
}

.p20.on {
	/* cells */
	font-family: "brenner mono bold";
	font-size: 14px;
}

.p21.on {
	font-family: "brenner mono";
	font-size: 16px;
	font-weight: 400px;
}

.p22.on {
	/* cells eerste */
	font-family: "brenner mono";
	font-size: 22px;
}

.p23.on {
	/* cells tweede */
	font-family: "brenner mono bold";
	font-size: 14px;
}

.p24.on {
	font-family: "brenner mono";
	font-size: 16px;
	font-weight: 400px;
}

.p25.on {
	/* cells eerste */
	font-family: "brenner mono";
	font-size: 22px;
}

.p26.on {
	/* cells tweede */
	font-family: "brenner mono bold";
	font-size: 14px;
}

.p27.on {
	font-family: "brenner mono";
	font-size: 16px;
}

.p28.on {
	/* cells eerste */
	font-family: "brenner mono";
	font-size: 16px;
}
.p28.on {
	/* cells eerste */
	font-family: "brenner mono";
	font-size: 22px;
}

.p29.on {
	/* cells tweede */
	font-family: "brenner mono bold";
	font-size: 14px;
}

.p30.on {
	/* cells eerste */
	font-family: "brenner mono";
	font-size: 16px;
}

.p31.on {
	/* cells tweede */
	font-family: "brenner mono bold";
	font-size: 14px;
}

.p32.on {
	/* cells eerste */
	font-family: "brenner mono";
	font-size: 16px;
}
.p33.on {
	/* cells eerste */
	font-family: "brenner mono";
	font-size: 22px;
}

.p34.on {
	/* cells tweede */
	font-family: "brenner mono bold";
	font-size: 14px;
}

.p35.on {
	/* cells eerste */
	font-family: "brenner mono";
	font-size: 16px;
}


.p36.on {
	/* cells eerste */
	font-family: "brenner mono";
	font-size: 22px;
}

.p37.on {
	/* cells tweede */
	font-family: "brenner mono bold";
	font-size: 14px;
}

.p38.on {
	/* cells eerste */
	font-family: "brenner mono";
	font-size: 16px;
}

.p39.on {
	/* cells tweede */
	font-family: "brenner mono bold";
	font-size: 14px;
}

.p40.on {
	/* cells eerste */
	font-family: "brenner mono";
	font-size: 16px;
}

.p41.on {
	/* cells tweede */
	font-family: "brenner mono bold";
	font-size: 14px;
}

.p42.on {
	/* cells tweede */
	font-family: "brenner mono bold";
	font-size: 14px;
}

.p43on {
	/* cells tweede */
	font-family: "brenner mono bold";
	font-size: 14px;
}

.p44on {
	/* cells tweede */
	font-family: "brenner mono bold";
	font-size: 14px;
}

.p45on {
	/* cells tweede */
	font-family: "brenner mono bold";
	font-size: 14px;
}
.p46on {
	/* cells tweede */
	font-family: "brenner mono bold";
	font-size: 14px;
}



/* **********************************************
Basic layout.
	Place the video in the center of the page.
*********************************************  */

body {
	display: grid;
	height: 100vh;
	margin: 0;
	justify-content: center;
	background: #101010;
}

#video-container {
	margin: auto;
	position: absolute;
	height: 100vh;
	/* width:100%; */
	/* top: 0px;
	right : 0px;
	bottom : 0px;
	left : 0px; */

}
#video-mask {
	aspect-ratio: 240.5/100;
	position: relative;
	display: grid;
	overflow: hidden;
	align-content: center;
	margin-left:650px;
	margin-top: 350px;
	transition: 1s;
}

iframe {
	width: 625px;
	/* 850 */
	height: 500px;
	/* 53.33333333vw; */
	margin-top: -0.35vw;
}


/* **********************************************
Sounds.
	You can style the whole body, or you can 
	style anything within the body the moment
	a sound starts.
*********************************************  */
.sound0 {
	/* border-width: 100%;
	border-height: 100%;
	border-color: rgba(0,.5);
	background: #101010;
	background-size: cover;
	/* background: url('https://i.gifer.com/fetch/w300-preview/16/1634e9074b6ec09760fbef71bc54cd75.gif') */
	/* background: url('https://media.giphy.com/media/tL5HmgfZi0Qow/giphy.gif') no-repeat ; */
	background: #101010;
	background-size: cover;
	background-position: center; 
}

.sound0 #video-mask {
	/* transform:translate(+25%,+25%) scale(1); */
	/* animation: shake 2s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0); */
	/* margin-left:650px;
	margin-top: 350px; */
	transform:translate(-250px, -60%)scale(1.3);
	transition: 0.4s;
	/* animation: horizontal-shaking 0.5s infinite; */
	/* background-image: url(http://www.reddit.com/r/gifs/comments/228ddx/spaceit_all_starts_to_look_the_same_after_a_while/); */
	background-size: cover;
	background-position: center;
}

.sound1 {
	background: #101010;
	animation:  0.5s horizontal-shaking 0.3s;
	animation-iteration-count: .5;
	background: url('https://media.giphy.com/media/tL5HmgfZi0Qow/giphy.gif') no-repeat;
	/* https://media.giphy.com/media/CJzxeevfkefecfVbU5/giphy.gif https://media.giphy.com/media/rnTrCog8df0CAUtMFz/giphy.gif https://media.giphy.com/media/rnTrCog8df0CAUtMFz/giphy.gifhttps://media.giphy.com/media/xTiTnqbp4wCeotMYSI/giphy.gif */
	background-size: cover;
	background-position: center; 
	/* animation: groter 2s ease-in; */
}

.sound2{
	
	background: #101010;
	animation:  0.5s horizontal-shaking 0.3s;
	animation-iteration-count: .5;
	background: url('https://media.giphy.com/media/tL5HmgfZi0Qow/giphy.gif') no-repeat;
	/* https://media.giphy.com/media/CJzxeevfkefecfVbU5/giphy.gif https://media.giphy.com/media/rnTrCog8df0CAUtMFz/giphy.gif https://media.giphy.com/media/rnTrCog8df0CAUtMFz/giphy.gifhttps://media.giphy.com/media/xTiTnqbp4wCeotMYSI/giphy.gif */
	background-size: cover;
	background-position: center;
}

.sound3{
	background: #980000;
	/* animation: groter1 0.7; */
	/* transition: 0.3s; */
	animation: groter 1.3s ease-in;
}

/* .sound3  .p1.on{
	color:#980000;
	background: #980000;
} */

/* #closed-captions .p1.on{
	background: none;
	border: none;
} */


.sound4{
	background: #101010;
}

.sound5  {
	background: #000000;
}

.sound5 #cirkel {
	z-index: -1;
	border-radius: 50%;
	background-color: #980000;
	width: 175px;
    height: 175px;
	position: absolute;
	margin-left:650px;
	margin-top: 275px;
	opacity: 1;
	animation: scaleInUit 0.7s cubic-bezier(.36, .11, .89, .32);
	animation-iteration-count: 1;
}
.sound6{
	/* opacity: 0.4; */
	transition: 1s;
	background: #101010;
	/* background: url('https://media.giphy.com/media/8qwviVOYjvanN1CoTG/giphy-downsized-large.gif') no-repeat; */
	/* background: url('https://media.giphy.com/media/8qwviVOYjvanN1CoTG/giphy-downsized-large.gif') no-repeat; */
	/* background: url('https://media.giphy.com/media/8DguZ6zMuBM6YiHHFC/giphy.gif') no-repeat; */
	background-size: cover;
	background-position: center;
	
}

.sound7{
	animation: 0.5s verti-shaking 0.5s;
	animation-iteration-count: 2;
}
.sound7 #tekstwolk{
	opacity: 0.5;
	z-index:2;
	background-image: url(../img/tekstwolk.png);
	background-repeat: no-repeat;
	background-size: contain;
	/* background-position: 5px 10px; */
	margin-left:200px;
	margin-top: 50px;
	width: 75px;
	height:50px; 
}
.sound7 #tekstwolkk{
	opacity: 0.5;
	z-index:2;
	background-image: url(../img/tekstwolkk.png);
	background-repeat: no-repeat;
	background-size: contain;
	/* background-position: 5px 10px; */
	margin-left:1100px;
	margin-top: -500px;
	width: 75px;
	height:50px; 
}
.sound7 #tekstwolk1{
	opacity: 0.5;
	z-index:3;
	background-image: url(../img/tekstwolk.png);
	background-repeat: no-repeat;
	background-size: contain;
	/* background-position: 5px 10px; */
	/* margin-left: 50px; */
	margin-top: 100px;
	width: 75px;
	height:50px; 
}
.sound7 #tekstwolkk1{
	opacity: 0.5;
	z-index:3;
	background-image: url(../img/tekstwolkk.png);
	background-repeat: no-repeat;
	background-size: contain;
	/* background-position: 5px 10px; */
	margin-left:1250px;
	margin-top: -350px;
	width: 75px;
	height:50px; 
}
.sound7 #tekstwolk2{
	opacity: 0.5;
	z-index:3;
	background-image: url(../img/tekstwolk.png);
	background-repeat: no-repeat;
	background-size: contain;
	/* background-position: 5px 10px; */
	margin-left:100px;
	margin-top: 300px;
	width: 75px;
	height:50px; 
}
.sound7 #tekstwolkk2{
	opacity: 0.5;
	z-index:3;
	background-image: url(../img/tekstwolkk.png);
	background-repeat: no-repeat;
	background-size: contain;
	/* background-position: 5px 10px; */
	margin-left:1225px;
	margin-top: -25px;
	width: 75px;
	height:50px; 
}
.sound7 #tekstwolk3{
	opacity: 0.5;
	z-index:3;
	background-image: url(../img/tekstwolk.png);
	background-repeat: no-repeat;
	background-size: contain;
	/* background-position: 5px 10px; */
	margin-left:75px;
	margin-top: -275px;
	width: 75px;
	height:50px; 
}
.sound7 #tekstwolkk3{
	opacity: 0.5;
	z-index:3;
	background-image: url(../img/tekstwolkk.png);
	background-repeat: no-repeat;
	background-size: contain;
	/* background-position: 5px 10px; */
	margin-left:1175px;
	margin-top: -250px;
	width: 75px;
	height:50px; 
}

.sound7 #tekstwolkkk{
	opacity: 0.5;
	z-index:2;
	background-image: url(../img/tekstwolkkk.png);
	background-repeat: no-repeat;
	background-size: contain;
	/* background-position: 5px 10px; */
	margin-left:500px;
	margin-top: -600px;
	width: 75px;
	height:50px; 
}

.sound7 #tekstwolkkk1{
	opacity: 0.5;
	z-index:2;
	background-image: url(../img/tekstwolkkk.png);
	background-repeat: no-repeat;
	background-size: contain;
	/* background-position: 5px 10px; */
	margin-left:775px;
	margin-top: -550px;
	width: 75px;
	height:50px; 
}

.sound7 #tekstwolkkkk{
	opacity: 0.5;
	z-index:2;
	background-image: url(../img/tekstwolkkkk.png);
	background-repeat: no-repeat;
	background-size: contain;
	/* background-position: 5px 10px; */
	margin-left:850px;
	margin-top: 0px;
	width: 75px;
	height:50px; 
}

.sound7 #tekstwolkkkk1{
	opacity: 0.5;
	z-index:2;
	background-image: url(../img/tekstwolkkkk.png);
	background-repeat: no-repeat;
	background-size: contain;
	/* background-position: 5px 10px; */
	margin-left:425px;
	margin-top: -75px;
	width: 75px;
	height:50px; 
}
.sound8{
	/* opacity: 0; */
	background: #000000;
}
.sound8 #cirkel {
	z-index: -1;
	border-radius: 50%;
	background-color: #980000;
	width: 175px;
    height: 175px;
	position: absolute;
	margin-left:650px;
	margin-top: 275px;
	opacity: 1;
	animation: scaleIn 0.7s cubic-bezier(.36, .11, .89, .32);
	animation-iteration-count: 1;
}
.sound9{
	/* opacity: 0,4; */
	/* transition: 1s; */
	/* background: url('https://media.giphy.com/media/8qwviVOYjvanN1CoTG/giphy-downsized-large.gif') no-repeat; */
	/* background: url('https://media.giphy.com/media/8qwviVOYjvanN1CoTG/giphy-downsized-large.gif') no-repeat; */
	background: url('https://media.giphy.com/media/8DguZ6zMuBM6YiHHFC/giphy.gif') no-repeat;
	background-size: cover;
	background-position: center;
	/* transform: scale(1); */
	/* translate: scale(1.5) 25px; */
	animation: groter 6.5s ease-in;
}

/* sound10 */
.sound10 {
	background: #101010;
}
.sound10 #tekstwolk{
	opacity: 0; 
}
.sound10 #tekstwolk1{
	opacity: 0;
}
.sound10 #tekstwolk2{
	opacity: 0;
}
.sound10 #tekstwolkk{
	opacity: 0;
}
.sound10 #tekstwolkk1{
	opacity: 0;
}
.sound10 #tekstwolkk2{
	opacity: 0;
}
.sound10 #tekstwolk3{
	opacity: 0;
}
.sound10 #tekstwolkk3{
	opacity: 0;
}
.sound10 #tekstwolkkk{
	opacity: 0;
}
.sound10 #tekstwolkkk1{
	opacity: 0;
}
.sound10 #tekstwolkkkk{
	opacity: 0;
}
.sound10 #tekstwolkkkk1{
	opacity: 0;
}

/* sound 11 */
.sound11 #cirkel1 {
	z-index: -1;
	border-radius: 50%;
	/* box-shadow: 1em #ffffff; */
	background-color: #980000;
	width: 175px;
    height: 175px;
	position: absolute;
	margin-left:650px;
	margin-top: 275px;
	opacity: 1;
	animation: scaleIn 0.7s cubic-bezier(.36, .11, .89, .32);
	animation-iteration-count: 1;
}
.sound11 #tekstwolk{
	opacity: 0.5;
}
.sound11 #tekstwolkk{
	opacity: 0.5; 
}
.sound11 #tekstwolk1{
	opacity: 0.5;
}
.sound11 #tekstwolkk1{
	opacity: 0.5;
}
.sound11 #tekstwolk2{
	opacity: 0.5;
}
.sound11 #tekstwolkk2{
	opacity: 0.5;
}
.sound11 #tekstwolk3{
	opacity: 0.5;
}
.sound11 #tekstwolkk3{
	opacity: 0.5;
}
.sound11 #tekstwolkkk{
	opacity: 0.5; 
}
.sound11 #tekstwolkkk1{
	opacity: 0.5;
}
.sound11 #tekstwolkkkk{
	opacity: 0.5;
}
.sound11 #tekstwolkkkk1{
	opacity: 0.5;
}

/* SOUND 12 */
.sound12 #tekstwolk{
	opacity: 0.5;
}
.sound12 #tekstwolkk{
	opacity: 0.5;
}
.sound12 #tekstwolk1{
	opacity: 0.5;
}
.sound12 #tekstwolkk1{
	opacity: 0.5;
}
.sound12 #tekstwolk2{
	opacity: 0.5;
}
.sound12 #tekstwolkk2{
	opacity: 0.5;
}

.sound12 #tekstwolk3{
	opacity: 0.5;
}
.sound12 #tekstwolkk3{
	opacity: 0.5;
}
.sound12 #tekstwolkkk{
	opacity: 0.5; 
}
.sound12 #tekstwolkkk1{
	opacity: 0.5;
}
.sound12 #tekstwolkkkk{
	opacity: 0.5;
}
.sound12 #tekstwolkkkk1{
	opacity: 0.5;
}

/* SOUND 13 */
.sound13 #tekstwolk{
	opacity: 0.5;
}
.sound13 #tekstwolkk{
	opacity: 0.5; 
}
.sound13 #tekstwolk1{
	opacity: 0.5;
}
.sound13 #tekstwolkk1{
	opacity: 0.5;
}
.sound13 #tekstwolk2{
	opacity: 0.5;
}
.sound13 #tekstwolkk2{
	opacity: 0.5;
}
.sound13 #tekstwolk3{
	opacity: 0.5;
}
.sound13 #tekstwolkk3{
	opacity: 0.5;
}
.sound13 #tekstwolkkk{
	opacity: 0.5;
}
.sound13 #tekstwolkkk1{
	opacity: 0.5;
}
.sound13 #tekstwolkkkk{
	opacity: 0.5;
}
.sound13 #tekstwolkkkk1{
	opacity: 0.5;
}

.sound14{
	animation: 0.5s verti-shaking 0.5s;
	animation-iteration-count: 2;
}

.sound15 #cirkel2 {
	z-index: -1;
	border-radius: 50%;
	opacity: 0.7;
	background-color: #980000;
	/* background-color: #980000; */
	width: 175px;
    height: 175px;
	position: absolute;
	margin-left:650px;
	margin-top: 275px;
	animation: scaleIn 0.7s cubic-bezier(.36, .11, .89, .32);
	animation-iteration-count: 1;
}
.sound15 {
	/* background: url('https://media.giphy.com/media/3o6vXRxrhj7Ov94Gbu/giphy.gif') no-repeat;
	background-size: cover;
	background-position: center; */
	background-color: #101010;
}
.sound15 #tekstwolk{
	opacity: 0; 
}
.sound15 #tekstwolk1{
	opacity: 0;
}
.sound15 #tekstwolk2{
	opacity: 0;
}
.sound15 #tekstwolkk{
	opacity: 0;
}
.sound15 #tekstwolkk1{
	opacity: 0;
}
.sound15 #tekstwolkk2{
	opacity: 0;
}
.sound15 #tekstwolk3{
	opacity: 0;
}
.sound15 #tekstwolkk3{
	opacity: 0;
}
.sound15 #tekstwolkkk{
	opacity: 0;
}
.sound15 #tekstwolkkk1{
	opacity: 0;
}
.sound15 #tekstwolkkkk{
	opacity: 0;
}
.sound15 #tekstwolkkkk1{
	opacity: 0;
}
/* .sound15 #noise {
	position: fixed;
	top: -50%;
	left: -50%;
	right: -50%;
	bottom: -50%;
	width: 200%;
	height: 200vh;
	background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
	background-repeat: repeat;
	animation: bg-animation 0.2s infinite;
	opacity: 1;
	visibility: visible;
} */


.sound16 {
	background: #383838;
}


.sound16 #noise {
	position: fixed;
	top: -50%;
	left: -50%;
	right: -50%;
	bottom: -50%;
	width: 200%;
	height: 200vh;
	background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
	background-repeat: repeat;
	animation: bg-animation 1s infinite;
	opacity: 1;
	/* visibility: visible; */
}

/* .sound17 {
	animation: groter2 19s ease-in;
} */



.sound19 {
	background-color: #3465a4;
	/* background: url('https://media.giphy.com/media/OVlFjmEDhx9rG/giphy.gif ') no-repeat;
	https://media.giphy.com/media/CJzxeevfkefecfVbU5/giphy.gif https://media.giphy.com/media/rnTrCog8df0CAUtMFz/giphy.gif https://media.giphy.com/media/rnTrCog8df0CAUtMFz/giphy.gifhttps://media.giphy.com/media/xTiTnqbp4wCeotMYSI/giphy.gif;
	background-size: cover;
	background-position: center; */
}

/* .sound10 #cirkel {
	border-radius: 50%;
	background-color: #c00000;
	width: 150px;
	height: 150px;
	position: absolute;
	margin-left:650px;
	margin-top: 325px;
	opacity: 0;
	animation: scaleIn 4s cubic-bezier(.36, .11, .89, .32);
	animation-iteration-count: 1;
} */
/* .sound10 { */
	/* opacity: 1; */
	/* background: #101010; */
	/* color:#ffffff;
	border-radius: 100%;
	width: 200px;
	height:200px;
	position: absolute; 
	align-content: center;
	justify-items: center;
	animation: groter 8s ease-in; */

/* .sound3 {
	background: #101010;
	margin: 30px;
} */

/* .sound3 #video-container {
	margin: auto;
	position: absolute;
	height: 100vh;
	display: inline;
	justify-content: center;
	background: #000000;
}
.sound3 #video-mask{
	margin: auto;
	position: absolute;
	border-radius: 75%;
	display: inline;
	justify-content: center;
	align-content: center;
	width: 850px;
	height: 350px;
	background: #c00000;
	margin-left:550px;  
	margin-top: 400px;
} */

/* .sound3 #video-placeholder{
	width: 625px;
	height: 260px;
} */



/* .sound4 .cirkel{
	background: #101010;
	color:#ffffff;
	width: 800px;
	height:400px;
	position: absolute; 
} */

	/*margin: auto;
	position: absolute;
	height: 100vh;
	width:100%;
}

.sound1 #video-mask {
	background: #101010;
	animation: horizontal-shaking 0.5s infinite; 
	height:400px;
	width: 800px;
	text-align: center;
	margin-top:100px;
	margin-left: 305px;
} */


@keyframes horizontal-shaking {
	/* 0% { transform: translateX(0)  }
	25% { transform: translateX(4px) }
	50% { transform: translateX(-4px) }
	75% { transform: translateX(4px) }
	100% { transform: translateX(0) } */
	0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(4px, 4px) rotate(2deg); }
    50% { transform: translate(0, 0) rotate(0eg); }
    75% { transform: translate(-4px, 4px) rotate(-2deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
}

@keyframes verti-shaking {
	0% { transform: translateY(0) }
	25% { transform: translateY(3px) }
	50% { transform: translateY(-3px) }
	75% { transform: translateY(3px) }
	100% { transform: translateY(0) }
}

@keyframes groter {
	0% {transform: scale(1,1)}
	100% {transform: scale(1.3, 1.3)}
}

@keyframes groter1{
	0% {transform: scale(0,0)}
	100% {transform: scale(1.05, 1.05)}
}

@keyframes groter2{
	0% {transform: scale(1,1)}
	100% {transform: scale(1.2, 1.2)}
}

@keyframes groter2{
	0% {transform: scale(1,1)}
	100% {transform: scale(1.2, 1.2)}
}

/* @keyframes mymove {
	0%   {top: 0px;width: 625px;height: 500px;}
	100% {top: 200px;width: 850px;height: 725px;}
} */
/* .sound1 #video-mask {
	box-shadow: 4em 4em 4em 4em hotpink;
} */


/* @keyframes shake {
	10%, 90% {
	transform: translate3d(-1px, 0, 0);
	}
	20%, 80% {
	transform: translate3d(2px, 0, 0);
	}
	30%, 50%, 70% {
	transform: translate3d(-2px, 0, 0);
	}
	40%, 60% {
	transform: translate3d(2px, 0, 0);
	}
  } */


@keyframes scaleIn {
	0%{
	transform: scale(1.5, 1.5);
	opacity: 1;
	}
	/* 50%{
		box-shadow: 0 0 1.5em rgba(255,0,0,1),
	0 0 1em rgba(255,0,0,1) inset;
    border-color: rgba(200,0,0,1);
	} */
	100% {
	transform: scale(15, 15);
	opacity: 1;

	/* box-shadow: 0 0 1.5em rgba(255,0,0,1),
	0 0 1em rgba(255,0,0,1) inset;
    border-color: rgba(200,0,0,1); */
	}
}


@keyframes scaleInUit {
	0%{
	transform: scale(1.5, 1.5);
	opacity: 1;
	}
	50% {
	transform: scale(10, 10);
	opacity: 0.5;
	}
	100%{
		transform: scale(1.5, 1.5);
		opacity: 1;
		}
}


@keyframes bg-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-10%,-10%) }
    20% { transform: translate(-20%,10%) }
    30% { transform: translate(10%,-20%) }
    40% { transform: translate(-10%,30%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(20%,0) }
    70% { transform: translate(0,20%) }
    80% { transform: translate(-30%,0) }
    90% { transform: translate(20%,10%) }
    100% { transform: translate(10%,0) }
}